<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= link_to post.image.filename, post.image if post.image.attached? %>
  </p>

</div>
